/* Start Global Rules */

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Work Sans", sans-serif;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */

/* Start Variable */
:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-trans-duration: .3s;
}

/* End Variable */


/* Start Header */
.header {
    position: relative;
    background-color: white;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;

}

.header .logo {
    color: var(--main-color);
    font-size: 30x;
    font-weight: bold;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .main-nav {
    display: flex;
}

.header .main-nav>li>a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    position: relative;
    color: black;
    padding: 0 30px;
    transition: var(--main-trans-duration)
}


.header .main-nav>li>a::before {
    content: "";
}

@media (max-width:767px) {
    .header .logo {
        width: 100%;
        height: 50px;
    }

    .header .main-nav {
        margin: 0 auto;

    }

    .header .main-nav>li>a {
        padding: 0 10px;
        height: 40px;
        font-size: 14px;
    }
}

/* End Header */